.header {
  background: linear-gradient(to right, rgba(75, 0, 130, 0.8), rgba(138, 43, 226, 0.8));
  color: #D4AF37;
  padding: 30px 0;
  text-align: center;
  margin-bottom: 50px;
}

.header-title {
  margin: 0;
  font-size: 3rem;
}
