<div>
  <!-- error messages -->
  <div class="error-messages-container">
    @if (errorMessages.length) {
      @for (msg of errorMessages; track msg) {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{ msg }}</strong>
          <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
        </div>
      }
    }
  </div>

  @if (isRequestExecuted) {
    <div class="container-fluid card container-card px-5 py-4">
      <h1 class="text-center my-4 fw-bolder">
        @if (gameResult.win) { You won! }
        @else { You lost! }
      </h1>

      <div class="mb-4 mt-3 text-center">
        <p class="mb-3"><strong>Your Number: {{gameRound.selectedNumber}}</strong></p>
        <p class="mb-3"><strong>Generated Number: {{gameResult.generatedNumber}}</strong></p>
        <p class="mb-3"><strong>Placed Bet: {{gameRound.placedBet}}</strong></p>
        <p class="mb-3"><strong>Win Amount: {{gameResult.wonAmount}}</strong></p>
      </div>

      <button (click)="playAgain()" class="btn play-button w-75 my-4" type="button">
        <span class="fw-bolder">
          <fa-icon class="icon pe-2" [icon]="faCircleRight"></fa-icon>
          Play another round!
        </span>
      </button>
    </div>
  } @else {
    <div class="container-fluid card container-card px-5">
      <h1 class="main-title text-center my-4 fw-bolder">Try your luck!</h1>
      <div class="mx-5">
        <!-- form items -->
        <div class="form-floating my-4 position-relative">
          <input (ngModelChange)="checkAndCalculatePotentialWin()" [(ngModel)]="gameRound.selectedNumber" class="form-control"
                 id="selected-number"
                 placeholder="1-100" type="number">
          <label for="selected-number">Select a number <small>&nbsp;(1-100)</small></label>
          <fa-icon class="icon position-absolute top-50 end-0 translate-middle-y pe-3" [icon]="faQuestionCircle"></fa-icon>
        </div>

        <div class="form-floating my-4 position-relative">
          <input (ngModelChange)="checkAndCalculatePotentialWin()" [(ngModel)]="gameRound.placedBet" class="form-control"
                 id="placed-bet"
                 placeholder="" type="number">
          <label for="placed-bet">Place your bet</label>
          <fa-icon class="icon position-absolute top-50 end-0 translate-middle-y pe-3" [icon]="faCoins"></fa-icon>
        </div>

        <!-- submit items -->
        <div class="form-floating my-4 position-relative">
          <input [value]="potentialWin" readonly class="form-control"
                 id="potential-win"
                 placeholder="" type="text">
          <label for="potential-win">Potential win</label>
          <fa-icon class="icon position-absolute top-50 end-0 translate-middle-y pe-3" [icon]="faSackDollar"></fa-icon>
        </div>

        <button (click)="playRound()" class="btn play-button w-100 my-4" type="button" [disabled]="isRequestExecuting">
          @if (isRequestExecuting && !errorMessages.length) {
            <span class="spinner-border" role="status" aria-hidden="true">...</span>
          } @else {
            <span class="fw-bolder">
            <fa-icon class="icon pe-2" [icon]="faCircleRight"></fa-icon>
              Play!
            </span>
          }
        </button>
      </div>
    </div>
  }
</div>
